body, a {
    font-family: arial,sans-serif;
}

.container {
    padding-right: 30px;
}

ul {
    list-style-type: none;
    color: black;
}

ul > li {
    display: flex;
    padding-left: 15px;
    float: right;
}
#logo {
    padding-top: 106px;
}